<div class="root__row root__row--teal">
  <div class="root__row-content">
    <section class="partners">
      <h2>Partners</h2>

      <ul class="partners__list">
        {% for partner in site.data.partners %}
          <li>
            <a href="{{partner.website_url}}" title="{{partner.name}}">
              <load-file replaceWith src="{{site.baseurl}}/assets/images/{{partner.image_url}}"></load-file>
            </a>
          </li>
        {% endfor %}
      </ul>

      <p>See the complete list of donours in our <a href="{{site.baseurl}}/about-us">About page</a></p>
    </section>
  </div>
</div>
