{% assign partner_orgs = site.data.organizations | where:"is_partner",true %}
<div class="root__row root__row--teal">
  <div class="root__row-content">
    <section class="partners">
      <h2>Partners</h2>

      <ul class="partners__list">
        {% for org in partner_orgs %}
          <li>
            <a href="{{org.website_url}}" title="{{org.name}}" target="_blank">
              <load-file replaceWith src="{{site.baseurl}}/assets/images/{{org.image_url}}"></load-file>
            </a>
          </li>
        {% endfor %}
      </ul>

      <p>See the complete list of donours in our <a href="{{site.baseurl}}/about-us">About page</a></p>
    </section>
  </div>
</div>
