{% comment %}
The post tile and content. Uses global variables.
{% endcomment %}
<div class="root__row">
  <div class="root__row-content">
    <article class="post">
      <header class="post__header">
        <h2>Beyond the technology</h2>

        <h1>{{page.title}}</h1>

        {% include components/post-meta.liquid post=page %}
      </header>

      <nav class="post__social">
        {% for social_account in site.data.social-accounts %}
          {% if social_account.share_url_template %}
            <li>
              <a href="{{social_account.share_url_template | replace:'REPLACE_ME',page.url}}" target="_blank">
                <img src="{{site.url}}/assets/images/{{social.icon_url}}" alt="{{social_account.id}}">
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </nav>

      <section class="post__content long-text-content">
        {{content}}
      </section>
    </article>
  </div>
</div>
