{% comment %}
This is an image component/utility. Things to be passed:
@param file - the image, path is relative
@param caption - optional
@param link - optional
@param type - "left", "right", "full"
{% endcomment %}
{% capture full_image_path %}{{ site.baseurl }}{{ include.file | url_escape }}{% endcapture %}
<figure
    class='image
        {% if include.type == "left" %}
            image--left
        {% elsif include.type == "right" %}
            image--right
        {% elsif include.type == "full" %}
            image--full
        {% else %}
            image-full
        {% endif %}'
>
    <a
        class="image__link"
        {% if include.link %}
        href="{{ include.link }}"
        target="_blank"
        {% endif %}
    >
        <img
            class="image__img"
            src="{{ full_image_path }}"
            alt="{{ include.file }}"
            {% if include.caption %}
            title="{{ include.caption }}"
            {% endif %}
        >
    </a>
    {% if include.caption %}
    <figcaption class="image__caption">{{ include.caption }}</figcaption>
    {% endif %}
</figure>
