{% comment %}
A button with link.

@param {m|l} size
@param {bare|frame|light|full} type
@param {blue|storm} color
@param {string} label
@param {string} url
{% endcomment %}
<a class="button button--size-{{include.size}} button--type-{{include.type}} button--color-{{include.color}}" href="{{include.url}}">{{include.label}}</a>
