{% comment %}
A button with link.

@param size - m or l
@param type - bare, frame, light or full
@param color - blue or storm
@param label
@param url
{% endcomment %}
<a class="button button--size-{{include.size}} button--type-{{include.type}} button--color-{{include.color}}" href="{{include.url}}">{{include.label}}</a>
