{% comment %}
Displays a big image on the right and tile with description on the left.

@prop title
@prop description
@prop row_color - for root__row
@prop icon_url - path to svg illustration
@prop image_url - path to big image on the right, relative to assets/images/
{% endcomment %}
<div class="root__row root__row--{{include.row_color}} feature-row">
  <div class="feature-row__content">
    <div class="feature-row__left-side">
      {% if include.icon_url and include.icon_url != "" and include.icon_url != nil %}
        <img class="feature-row__icon" src="{{include.icon_url}}"/>
      {% endif %}

      <h1>{{include.title}}</h1>
      
      <p>{{include.description}}</p>
    </div>

    <div class="feature-row__right-side">
      {% if include.image_url and include.image_url != "" and include.image_url != nil %}
        <img class="feature-row__image" src="{{site.baseurl}}/assets/images/{{include.image_url}}"/>
      {% endif %}
    </div>
  </div>
</div>