<nav class="header-nav">
  <a class="header-nav__logo" href="{{site.url}}/">
    <img src="{{site.url}}/assets/images/common/kobotoolbox_logo_default_for-light-bg.svg"/>
  </a>

  <ul class="header-nav__menu">
    {% for item in site.data.header-menu %}
      {% comment %}
      We need to compare the parentest directory.
      {% endcomment %}
      {% assign page_dir_split = page.url | split:"/" %}
      {% assign page_dir = page_dir_split[1] %}
      {% assign item_path_split = item.path | split:"/" %}
      {% assign item_dir = item_path_split[1] %}
      <li>
        <a
          class="header-nav__menu-item {% if page_dir == item_dir %}header-nav__menu-item--active{% endif %}"
          href="{{site.url}}{{item.path}}"
          >{{item.label}}</a
        >
      </li>
    {% endfor %}
  </ul>

  <ul class="header-nav__buttons">
    <li>{% include components/button.liquid size="m" type="frame" color="blue" label="Sign up" url="/sign-up" %}</li>
    <li>{% include components/button.liquid size="m" type="full" color="blue" label="Donate" url="/donate" %}</li>
  </ul>
</nav>
