<nav class="header-nav">
  <a class="header-nav__logo" href="{{site.baseurl}}/">
    <img src="{{site.baseurl}}/assets/images/common/kobotoolbox_logo_default_for-light-bg.svg"/>
  </a>

  <ul class="header-nav__menu">
    {% for item in site.data.header_menu %}
    <li>
      <a
        class="header-nav__menu-item {% if page.dir == item.path %}header-nav__menu-item--active{% endif %}"
        href="{{site.baseurl}}{{item.path}}"
        >{{item.label}}</a
      >
    </li>
    {% endfor %}
  </ul>

  <ul class="header-nav__buttons">
    <li>{% include components/button.liquid size="m" type="frame" color="blue" label="Sign in" url="/sign-in" %}</li>
    <li>{% include components/button.liquid size="m" type="full" color="blue" label="Donate" url="/donate" %}</li>
  </ul>
</nav>
