{% comment %} 
A small post card with links to full post.

@param title
@param description
@param image
@param [link_title] - required together with `link_url` to produce button on bottom
@param [link_url] - required to enable links
{% endcomment%}
<article class="link-card">
  <a
    class="link-card__thumbnail"
    {% if include.link_url and include.link_url != "" and include.link_url != nil %}
      href="{{include.link_url}}"
    {% endif %}
  >
    {% include components/thumbnail.liquid image_url=include.image %}
  </a>

  <h3 class="link-card__title">
    <a
      {% if include.link_url and include.link_url != "" and include.link_url != nil %}
        href="{{site.url}}{{include.link_url}}"
      {% endif %}
    >
      {{include.title}}
    </a>
  </h3>

  <p class="link-card__description">
    {{include.description}}
  </p>

  {% if include.link_url and include.link_url != "" and include.link_url != nil and include.link_title and include.link_title != "" and include.link_title != nil%}
   <footer class="link-card__link">
      {% capture link_title_full %}{{include.link_title}} &rarr;{% endcapture %}
      {% include components/button.liquid
        size="m"
        type="bare"
        color="blue"
        label=link_title_full
        url=include.link_url
      %}
    </footer>
  {% endif %}
</article>
