{% comment %} 
A small post card with links to full post.

@param title
@param description
@param image_url
@param [link_title] - required together with `link_url` to produce button on bottom
@param [link_url] - required to enable links
{% endcomment%}
{% capture thumbnail_url %}{% if include.image_url and include.image_url != "" and include.image_url != nil %}{{site.baseurl}}/assets/images/{{include.image_url}}{% else %}{{site.baseurl}}{{site.default_thumbnail}}{% endif %}{% endcapture %}
<a class="link-card" href="{{include.link_url}}">
  <figure
    class="link-card__thumbnail"
    style="background-image: url('{{thumbnail_url}}')"
  ></figure>

  <h3 class="link-card__title">
    {{include.title}}
  </h3>

  <p class="link-card__description">
    {{include.description}}
  </p>

  {% if include.link_title and include.link_title != "" and include.link_title != nil%}
   <span class="link-card__link">
      {{include.link_title}}
      <span class="link-card__link-icon">&rarr;</span>
    </span>
  {% endif %}
</a>
