{% comment %} @prop post {% endcomment%}
<article class="post-summary">
  <a class="post-summary__thumbnail" href="{{ site.baseurl }}{{ include.post.url }}">
    <img src="{{ include.post.thumbnail }}"/>
  </a>

  <h2 class="post-summary__title">
    <a href="{{ site.baseurl }}{{ include.post.url }}">
      {{ include.post.title }}
    </a>
  </h2>

  <p class="post-summary__summary">{{ include.post.summary }}</p>

  <time class="post-summary__date" datetime="{{ include.post.date }}">
    {{ include.post.date | date_to_string }}
  </time>

  <span class="post-summary__author">{{ include.post.author }}</span>
</article>
