{% comment %} 
A horizontal post summary with description and links to full post.

@param post
{% endcomment%}
<article class="post-summary">
  <div class="post-summary__left">
    <a 
      class="post-summary__thumbnail" 
      href="{{site.baseurl}}{{include.post.url}}"
    >
      {% include components/thumbnail.liquid image_url=include.post.thumbnail %}
    </a>
  </div>  

  <div class="post-summary__right">
    <h2>
      <a href="{{site.baseurl}}{{include.post.url}}">
        {{include.post.title}}
      </a>
    </h2>

    <p>{{include.post.summary}}</p>

    {% include components/post-meta.liquid post=include.post %}
  </div>
</article>
