{% comment %} 
A horizontal post summary with description and links to full post.

@param post
{% endcomment%}
<a class="post-summary thumbnail-hover-wrapper" href="{{site.baseurl}}{{include.post.url}}">
  <div class="post-summary__left">
    <div
      class="post-summary__thumbnail" 
      href="{{site.baseurl}}{{include.post.url}}"
    >
      {% include components/thumbnail.liquid image_url=include.post.thumbnail %}
    </div>
  </div>  

  <div class="post-summary__right">
    <h2>{{include.post.title}}</h2>

    <p>{{include.post.summary}}</p>

    {% include components/post-meta.liquid post=include.post %}
  </div>
</a>
