{% comment %} 
A post textual link with date.

@param post
{% endcomment%}
<article class="post-link">
  <div class="post-link__icon">&rarr;</div>

  <div class="post-link__content">
    <a href="{{site.url}}{{include.post.url}}">
      {{include.post.title}}
    </a>

    <time datetime="{{include.post.date}}">{{include.post.date | date_to_string}}</time>
  </div>
</article>
