{% comment %} 
A horizontal post summary with description and links to full post.

@param post
{% endcomment%}
<article class="post-summary">
  <div class="post-summary__left">
    <a 
      class="post-summary__thumbnail" 
      href="{{site.baseurl}}{{include.post.url}}"
    >
      {% include components/thumbnail.liquid image_url=include.post.thumbnail %}
    </a>
  </div>  

  <div class="post-summary__right">
    <h2 class="post-summary__title">
      <a href="{{site.baseurl}}{{include.post.url}}">
        {{include.post.title}}
      </a>
    </h2>

    <p class="post-summary__summary">{{include.post.summary}}</p>

    <footer>
      <time class="post-summary__date" datetime="{{include.post.date}}">
        {{include.post.date | date_to_string}}
      </time><!-- 

      -->{% if include.post.author and include.post.author != "" and include.post.author != nil %}<span class="post-summary__author">By {{include.post.author}}</span>{% endif %}
    </footer>
  </div>
</article>
