{% comment %}
A small post card with links to full post.

@param post
{% endcomment%}
<a class="post-card thumbnail-hover-wrapper" href="{{site.baseurl}}{{include.post.url}}">
  <div
    class="post-card__thumbnail" 
    href="{{site.baseurl}}{{include.post.url}}"
  >
    {% include components/thumbnail.liquid image_url=include.post.thumbnail %}
  </div>

  <h3>{{include.post.title}}</h3>

  <footer class="post-card__cta">
    Read the article
    <span class="post-card__cta-icon">&rarr;</span>
  </footer>
</a>
